body {
  background-color: #fff5fd;
}

.img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.img:hover {
  opacity: 0.7;
}

.cardsContainer {
  width: 90%;
  margin: auto;
  padding: 50px 20px;
  background: #dae0f7;
  border-radius: 20px;
  min-height: calc(100vh - 239px + 70px - 226px);
}

.action {
  margin-left: 25px;
}

.cont {
  padding-top: 68px;
}

.table {
  background-color: #5cbbdd;
  border-radius: 20px;
}

.inside {
  background-color: #f2f2f2;
}

li a:hover {
  font-size: 16.5px;
}

.footerPie {
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  left: 0;
}
